<style>
  body {
  background: rgb(204,204,204); 
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
  width: 21cm;
  height: auto; 
}
page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;  
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;  
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;  
}
@media print {
    body, page {
      box-shadow: 0;
      size: 210mm 297mm;
      margin: 5mm 5mm 5mm 5mm;
      orphans: 0;
      widows: 0;
    }
    .formulario {
       zoom:100%;
    }
    .formulario:nth-child(even) { 
        page-break-inside: avoid;
        page-break-after: always;
    }
  }
</style>
<page size="A4">
  {% extends 'base.html' %}
  {% load static %}
  {% block title%}
  <head>
    <title>REPORTE-CONFIABILIDAD</title>
  </head>
  {% endblock%}
  {% block header %}
  {% endblock%}
  {% block content%}
  {% if confspr %}
  <div id="area_de_impresion">
  <br>
  <section class="ftco-section">
      <div class="container">
        <div class="formulario">
          <table border="1" style="width: 100%;height: 200px;">
            <tr style="height: 100%;width: max-content;">
              <th style="background-color: white;color: white;width: 35%;"><center><img id="logo" src="" style="height: 100%;width:100%"></center></th>               
              <th style="background-color: rgb(255, 255, 255);color: black;width: 65%"><center><h1 style=" font-weight: bold">REPORTE DE CONFIABILIDAD</h1></center></th>               
            </tr>
          </table>
                  <br>
                  <table border="1" style="width: 100%">
                    <TR style="height: 20px;width: max-content">
                      <TH style="width: 20%;">FECHA: </TH>
                      <TD align="CENTER" id='fecha_actual' style="width: 80%;"></TD>
                  </TR>
                  <TR style="height: 20px;width: max-content">
                    <TH style="width: 20%;">EMPRESA: </TH>
                    <TD align="CENTER" id="empresa" style="width: 80%;"></TD>
                </TR>
                <TR style="height: 20px;width: max-content">
                  <TH style="width: 20%;">DIRECCIÓN: </TH>
                  <TD align="CENTER" id="direccion" style="width: 80%;"></TD>
                </TR>
                <TR style="height: 20px;width: max-content">
                  <TH style="width: 20%;">E-MAIL: </TH>
                  <TD align="CENTER" id="email" style="width: 80%;"></TD>
              </TR>
                  </table>
                  <br>
                  <table style="width: 100%">
                    <tr style="height: max-content;width: max-content;">
                      <th><h1 style="color: red;font-weight: bold;font-size:30px;"><center id="titulo"></center></h1></th>               
                    </tr>
                  </table>
                  <br>
                  <table style="width: 100%">
                    <tr style="height: max-content;width: max-content;">
                        <th style="background-color:rgb(255, 255, 255);width: 15%;">
                          <h3 style="background-color: rgb(255, 255, 255);color: black;height: auto;font-weight: bold"><center>LISTADO DE FALLAS</center></h3>          
                        </th>               
                    </tr>
                  </table>
                  <br>
                  <table border="1" style="width: 100%">
                     <thead>
                       <tr style="height: 40px">
                           <th style="display: none;"><center>ACTIVO</center></th>
                           <th><center>NRO.</center></th>
                           <th><center>INICIO FALLA</center></th>
                           <th><center>FINAL FALLA</center></th>
                           <th><center>UPTIME (días)</center></th>
                           <th><center>DOWNTIME (días)</center></th>
                           <th><center>COSTO (USD)</center></th>
                           <th><center>DESCRIPCIÓN</center></th>                
                       </tr>
                     </thead>
                     <tbody id='v_activos'>
                     </tbody>
                  </table style="width: 100%">
                  <br>
                  <table>
                    <tr style="height: max-content;width: max-content;">
                        <th style="background-color:rgb(255, 255, 255);width: 15%;">
                          <h3 style="background-color: rgb(255, 255, 255);color: black;height: auto;font-weight: bold"><center>RESULTADOS</center></h3>          
                        </th>               
                    </tr>
                  </table>
                  <br>
                  <table border="1" style="width: 100%">
                    {% for confpr in confspr %}<td style="display: none;"><center id="nombreactv{{confpr.id}}">{{confpr.activo}}</center></td>{% endfor %}
                    <TR align="LEFT" style="height: 20px;width:70%"><TH>UPTIME TOTAL (días)</TH>
                        <TD align="CENTER" id="up" style="height: 20px;width:30%"></TD></TR>
                    <TR align="LEFT" style="height: 20px"><TH>DOWNTIME TOTAL (días)</TH>
                        <TD align="CENTER" id="down"></TD></TR>
                    <TR align="LEFT" style="height: 20px"><TH>COSTO TOTAL (USD)</TH>
                        <TD align="CENTER" id="costo_total"></TD></TR>
                    <TR align="LEFT" style="height: 20px"><TH>No. FALLAS</TH>
                        <TD align="CENTER" id="fallas"></TD></TR>
                    <TR align="LEFT" style="height: 20px"><TH>AÑOS</TH>
                        <TD align="CENTER" id='años'></TD></TR>
                    <TR align="LEFT" style="height: 20px"><TH>TIEMPO TOTAL DE FUNCIONAMIENTO (TTF) - días</TH>
                        <TD align="CENTER" id='TTF'></TD></TR>
                    <TR align="LEFT" style="height: 20px"><TH>TIEMPO PROMEDIO ENTRE FALLAS (MTBF) - días</TH>
                        <TD align="CENTER" id='MTBF'></TD></TR>
                    <TR align="LEFT" style="height: 20px"><TH>TIEMPO PROMEDIO DE REPARACIÓN (MTTR) - días</TH>
                        <TD align="CENTER" id='MTTR'></TD></TR>
                    <TR align="LEFT" style="height: 20px"><TH>TIEMPO PROMEDIO FUNCIONAL (MTTF) - días</TH>
                        <TD align="CENTER" id='MTTF'></TD></TR>
                    <TR align="LEFT" style="height: 20px"><TH>TASA DE FALLA</TH>
                        <TD align="CENTER" id='TF'></TD></TR>
                    <TR align="LEFT" style="height: 20px"><TH>TASA DE REPARACIÓN</TH>
                        <TD align="CENTER" id='TR'></TD></TR>
                    <TR align="LEFT" style="height: 20px"><TH>CONFIABILIDAD OPERACIONAL</TH>
                        <TD align="CENTER" id='CO'></TD></TR>
                    <TR align="LEFT" style="height: 20px"><TH>DISPONIBILIDAD OPERACIONAL</TH>
                        <TD align="CENTER" id='DO'></TD></TR>
                    <TR align="LEFT" style="height: 20px"><TH>MANTENIBILIDAD</TH>
                        <TD align="CENTER" id='M'></TD></TR>
                  </table>
                  <br>
                </div>
                <div class="formulario">
                  <table style="width: 100%">
                    <tr style="height: max-content;width: max-content;">
                        <th style="background-color:rgb(255, 255, 255);width: 15%;">
                          <h3 style="background-color: rgb(255, 255, 255);color: black;height: auto;font-weight: bold"><center>CONFIABILIDAD EN EL TIEMPO / PROBABILIDAD DE FALLA</center></h3>          
                        </th>               
                    </tr>
                  </table>
                  <br>
                  <table border="1" style="width: 100%">
                    <thead>
                      <tr>
                        <th><center>t (días)</center></th>
                        <th><center>CONFIABILIDAD EN EL TIEMPO</center></th>
                        <th><center>PROBABILIDAD DE FALLA</center></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td><center id="t0">1</center></td>
                          <td><center id="ct0"></center></td>
                          <td><center id="pf0"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t1">5</center></td>
                        <td><center id="ct1"></center></td>
                        <td><center id="pf1"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t2">10</center></td>
                        <td><center id="ct2"></center></td>
                        <td><center id="pf2"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t3">15</center></td>
                        <td><center id="ct3"></center></td>
                        <td><center id="pf3"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t4">20</center></td>
                        <td><center id="ct4"></center></td>
                        <td><center id="pf4"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t5">25</center></td>
                        <td><center id="ct5"></center></td>
                        <td><center id="pf5"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t6">30</center></td>
                        <td><center id="ct6"></center></td>
                        <td><center id="pf6"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t7">40</center></td>
                        <td><center id="ct7"></center></td>
                        <td><center id="pf7"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t8">50</center></td>
                        <td><center id="ct8"></center></td>
                        <td><center id="pf8"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t9">60</center></td>
                        <td><center id="ct9"></center></td>
                        <td><center id="pf9"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t10">70</center></td>
                        <td><center id="ct10"></center></td>
                        <td><center id="pf10"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t11">80</center></td>
                        <td><center id="ct11"></center></td>
                        <td><center id="pf11"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t12">90</center></td>
                        <td><center id="ct12"></center></td>
                        <td><center id="pf12"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t13">100</center></td>
                        <td><center id="ct13"></center></td>
                        <td><center id="pf13"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t14">150</center></td>
                        <td><center id="ct14"></center></td>
                        <td><center id="pf14"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t15">200</center></td>
                        <td><center id="ct15"></center></td>
                        <td><center id="pf15"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t16">250</center></td>
                        <td><center id="ct16"></center></td>
                        <td><center id="pf16"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t17">300</center></td>
                        <td><center id="ct17"></center></td>
                        <td><center id="pf17"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t18">350</center></td>
                        <td><center id="ct18"></center></td>
                        <td><center id="pf18"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t19">400</center></td>
                        <td><center id="ct19"></center></td>
                        <td><center id="pf19"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t20">500</center></td>
                        <td><center id="ct20"></center></td>
                        <td><center id="pf20"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t21">600</center></td>
                        <td><center id="ct21"></center></td>
                        <td><center id="pf21"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t22">700</center></td>
                        <td><center id="ct22"></center></td>
                        <td><center id="pf22"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t23">800</center></td>
                        <td><center id="ct23"></center></td>
                        <td><center id="pf23"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t24">900</center></td>
                        <td><center id="ct24"></center></td>
                        <td><center id="pf24"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t25">1000</center></td>
                        <td><center id="ct25"></center></td>
                        <td><center id="pf25"></center></td> 
                      </tr>
                      <tr>
                        <td><center id="t26">1100</center></td>
                        <td><center id="ct26"></center></td>
                        <td><center id="pf26"></center></td> 
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <div>
                    <table border="1" style="width: 100%">
                      <TR align="LEFT" style="height: 20px"><TH>PROBABILIDAD DE FALLA DEL 100 % (días)</TH>
                        <TD align="CENTER" id="dia_exacto"></TD></TR>
                    </table>
                  </div>
                  <br>
                  <table style="width: 100%">
                    <tr style="height: max-content;width: max-content;">
                        <th style="background-color:rgb(255, 255, 255);width: 15%;">
                          <h3 style="background-color: rgb(255, 255, 255);color: black;height: auto;font-weight: bold"><center>GRÁFICA</center></h3>          
                        </th>               
                    </tr>
                  </table>
                  <br>
                  <table style="width: 100%">
                    <center><canvas id="grafica"></canvas></center>
                    <br>
                    <center><a id="btn_print"><img src="{% static 'iconos/reporte3.png' %}" title='REPORTE PDF'></a></center>
                  </table>
                  <br>
                  </div>
    </div>
  </section>
  </div>
  {% else %}
  <br>
  <section class="ftco-section">
      <div class="container">
        <center><h1>AÚN NO SE HAN REGISTRADO FALLAS PARA ESTE ACTIVO</h1></center>
        <nav class="nav nav-pills nav-justified"> 
          <a class="nav-item nav-link disabled"></a>          
          <a class="nav-item nav-link disabled"></a>          
          <a class="nav-item nav-link active" href='{% url "confiabilidad_muestra" %}'>ATRÁS</a>
          <a class="nav-item nav-link disabled"></a>
          <a class="nav-item nav-link disabled"></a>
        </nav>
        <br>
      </div>
  </section>

{% endif %}
  {% endblock%}
  
  {% block javascript %}
  <script src="{% static 'assets/js/html2pdf.js' %}"></script>
  <script src="{% static 'assets/js/jspdf.debug.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script language="javascript">
  
  (function($) {
    
    var array=[];  
    var valores=[]; //ID
    var sum_up=0;
    var sum_down=0;
    var URLsearch=[];
    var URLfilter=[];
    var fecha_fin=[];
    var fecha_fin_down=[];
    var fecha_ini=[];
    var fecha_ini_up=[];
    var max_fin=0;
    var min_ini=0;
    var count=0;
    var count2=0;
    var count3=0;
    var n_fallas=0;
    var TTF=0;
    var años=0;
    var MTBF=0;
    var MTTR=0;
    var MTTF=0;
    var tasa_falla=0;
    var tasa_repa=0;
    var activo;
    var orden=[];
    var CO=0;
    var DO=0;
    var M=0;
    var max=0;
    var costo=[];
    var costo_total=0;
    var desc=[];
    var CT=[];
    var PF=[];
    var array_filter=[];
    var tiempoTranscurrido;
    var hoy;
    var d_exacto;

    var form = $(this).closest("form");
            $.ajax({
              url: '{% url "buscar_listado_conf" %}',
              data: form.serialize(),
              dataType: 'json',
              success: function (data) {
                   array =$.parseJSON(data.listado);
                   limite=array.length;
                   URLsearch = window.location.search;
                   URLfilter =(URLsearch).split("?lang=")
  
                   for (i=0;i<limite;i++){
                          valores[i]=array[i].fields.activo;
                          if (valores[i]==URLfilter[1]){
                              activo=array[i].fields.nombre;
                              fecha_ini[count]=array[i].fields.inicio_falla;
                              fecha_fin[count]=array[i].fields.final_falla;
                              costo[count]=array[i].fields.costo;
                              desc[count]=array[i].fields.descripcion;
                              orden[count]=array[i].pk;
  
                              if (count>0){
  
                                var day3 = new Date(fecha_fin[count-1]); 
                                var day4 = new Date(fecha_ini[count]);
                                fecha_ini_up[count]= (Math.abs(day4-day3))/(1000 * 3600 * 24);
                              }
                              else{
                                fecha_ini_up[count]=1;
                              }
                              var day5 = new Date(fecha_fin[count]); 
                              var day6 = new Date(fecha_ini[count]);
                              fecha_fin_down[count]= (Math.abs(day6-day5))/(1000 * 3600 * 24);
                              sum_up += fecha_ini_up[count];
                              sum_down += fecha_fin_down[count];
                              costo_total +=costo[count];     
                              $("#v_activos").append("<tr><td style='width: 40px;height: auto;font-size: small;'><center id='v_nro"+orden[count]+"'></center></td><td style='width: 100px;font-size: small;'><center id='v_ini"+orden[count]+"'></center></td><td style='width: 100px;font-size: small;'><center id='v_fin"+orden[count]+"'></center></td><td style='width: 80px;font-size: small;'><center id='v_upt"+orden[count]+"'></center></td><td style='width: 80px;font-size: small;'><center id='v_dwnt"+orden[count]+"'></center></td><td style='width: 80px;font-size: small;'><center id='v_costo"+orden[count]+"'></center></td><td style='height: auto;font-size: small;'><center id='v_desc"+orden[count]+"'></center></td></tr>");  
                              document.querySelector('#v_nro'+orden[count]).textContent=count+1;
                              document.querySelector('#v_ini'+orden[count]).textContent=fecha_ini[count];
                              document.querySelector('#v_fin'+orden[count]).textContent=fecha_fin[count];
                              document.querySelector('#v_upt'+orden[count]).textContent=fecha_ini_up[count].toFixed(2);
                              document.querySelector('#v_dwnt'+orden[count]).textContent=fecha_fin_down[count].toFixed(2);
                              document.querySelector('#v_costo'+orden[count]).textContent=costo[count].toFixed(2);
                              document.querySelector('#v_desc'+orden[count]).textContent=desc[count];
  
                              count ++;
  
                          }
                    }
  
                    
                    max_fin = fecha_fin[count-1]
                    min_ini = fecha_ini[count-count];
                    n_fallas =count;
                    max = Math.max(...fecha_ini_up);
                    var day1 = new Date(min_ini); 
                    var day2 = new Date(max_fin);
                    var difference= Math.abs(day2-day1);
                    TTF = difference/(1000 * 3600 * 24)
                    años=TTF/365;
                    MTBF=TTF/n_fallas;
                    MTTR=sum_down/n_fallas;
                    MTTF=sum_up/n_fallas;
                    tasa_falla=1/MTBF;
                    tasa_repa=1/MTTR;
                    CO=(Math.exp(-tasa_falla*max))*(100);
                    DO=((MTTF)/(MTTF+MTTR))*(100);
                    M=(1-Math.exp(-tasa_repa*2))*(100);
                    d_exacto=((-Math.log(0.005/100))/(tasa_falla));

                    for (i=0;i<27;i++){
                      if (count2==0){
                        CT[count2]=(Math.exp(-tasa_falla*1))*(100);
                        PF[count2]=100-CT[count2];
                        count2++;
                        count3=count3+5;
                      }
                      else{
                        if (count3>0 && count3<=25){
                          CT[count2]=(Math.exp(-tasa_falla*count3))*(100);
                          PF[count2]=100-CT[count2];
                          count2++;
                          count3=count3+5;
                        }
                        if(count3>=30 && count3<=90){
                          CT[count2]=(Math.exp(-tasa_falla*count3))*(100);
                          PF[count2]=100-CT[count2];
                          count2++;
                          count3=count3+10;
                        }
                        if(count3>=100 && count3<=350){
                          CT[count2]=(Math.exp(-tasa_falla*count3))*(100);
                          PF[count2]=100-CT[count2];
                          count2++;
                          count3=count3+50;
                        }
                        if(count3>=400 && count3<=1000){
                          CT[count2]=(Math.exp(-tasa_falla*count3))*(100);
                          PF[count2]=100-CT[count2];
                          count2++;
                          count3=count3+100;
                        }
                        if(count3==1100){
                          CT[count2]=(Math.exp(-tasa_falla*count3))*(100);
                          PF[count2]=100-CT[count2];
                        }
                      }
                      document.getElementById('ct'+i).textContent=CT[i].toFixed(2)+' %';
                      document.getElementById('pf'+i).textContent=PF[i].toFixed(2)+' %';
                    }
                    
                    document.getElementById('up').textContent=sum_up.toFixed(2);
                    document.getElementById('down').textContent= sum_down.toFixed(2);     
                    document.getElementById('costo_total').textContent=costo_total.toFixed(2);
                    document.getElementById('fallas').textContent= n_fallas; 
                    document.getElementById('años').textContent=años.toFixed(2);
                    document.getElementById('TTF').textContent= TTF.toFixed(2); 
                    document.getElementById('MTBF').textContent=MTBF.toFixed(2);
                    document.getElementById('MTTR').textContent= MTTR.toFixed(2); 
                    document.getElementById('MTTF').textContent=MTTF.toFixed(2);
                    document.getElementById('TF').textContent=tasa_falla.toFixed(4);
                    document.getElementById('TR').textContent=tasa_repa.toFixed(4);
                    document.getElementById('CO').textContent=CO.toFixed(2)+' %';
                    document.getElementById('DO').textContent=DO.toFixed(2)+' %';
                    document.getElementById('M').textContent=M.toFixed(2)+' %';
                    document.getElementById('titulo').textContent= document.getElementById('nombreactv'+orden[0]).textContent;   
                    document.getElementById('dia_exacto').textContent= d_exacto.toFixed(2);  

                    //GRÁFICAS

// Obtener una referencia al elemento canvas del DOM
const $grafica = document.querySelector("#grafica");
const $grafica2 = document.querySelector("#grafica2");
// Las etiquetas son las que van en el eje X. 
const etiquetas = ["1", "5", "10", "15","20", "25", "30", "40","50", "60", "70", "80","90", "100", "150", "200", "250", "300", "350", "400", "500", "600", "700", "800", "900", "1000","1100"]
// Podemos tener varios conjuntos de datos. Comencemos con uno
const datosCT = {
    label: "Confiabilidad en el tiempo",
    data: CT, // La data es un arreglo que debe tener la misma cantidad de valores que la cantidad de etiquetas
    backgroundColor: 'rgba(54, 162, 235, 0.2)', // Color de fondo
    borderColor: 'rgba(54, 162, 235, 1)', // Color del borde
    borderWidth: 3,// Ancho del borde
};
const datosPF = {
    label: "Probabilidad de falla",
    data: PF, // La data es un arreglo que debe tener la misma cantidad de valores que la cantidad de etiquetas
    backgroundColor: 'rgba(255, 159, 64, 0.2)',// Color de fondo
    borderColor: 'rgba(255, 159, 64, 1)',// Color del borde
    borderWidth: 3,// Ancho del borde
};
new Chart($grafica, {
    type: 'line',// Tipo de gráfica
    data: {
        labels: etiquetas,
        datasets: [
            datosCT,datosPF
            // Aquí más datos...
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }],
        },
    }
});
                    




                  tiempoTranscurrido = Date.now();
                  hoy = new Date(tiempoTranscurrido);
                  document.getElementById('fecha_actual').textContent= hoy.toLocaleDateString();   
  
      //HACER PDF
      // Escuchamos el click del botón
    $(document).ready(function($) 
    { 
      function imprim1(){
        window.print();
      }
      $("#btn_print").on('click', function(event) 
      {
        imprim1();       
      });
  
   
   
    });


    //INFORMACIÓN DEL ENCABEZADO

$.ajax({
            url: '{% url "vista_listado_configReport" %}',
            data: form.serialize(),
            dataType: 'json',
            success: function (data) {
                 array2 =$.parseJSON(data.listado);
                
                 document.getElementById('empresa').textContent=array2[0].fields.empresa;
                 document.getElementById('direccion').textContent=array2[0].fields.direccion;
                 document.getElementById('email').textContent=array2[0].fields.email;
                 $("#logo").attr("src","{{ MEDIA_URL }}"+array2[0].fields.logo);

                }})
  
  
  
  
  
  
                  }})
                  
          })(jQuery);
  
  </script>
  {% endblock %}
  {% block footer %}
  {% endblock %}




</page>
