{% extends 'base.html' %}
{% load static %}
{% block title%}
<head>
	<title>INTACT-REGISTRO-CRITICIDAD</title>
</head>
{% endblock%}
{% block content%}

<form action="" method="post">
    {% csrf_token %}

    <div class="page-section">
        <div class="container">
          <h1 class="text-center wow fadeInUp">Formulario de Registro de Parámetros de Criticidad</h1>
          <form class="contact-form mt-5" action="" method="post">
            {% csrf_token %}
            <br>
            <nav class="nav nav-pills nav-justified"> 
                <a class="nav-item nav-link disabled" href="#"><b></b></a>          
                <a class="nav-item nav-link disabled" style="background:rgb(140, 255, 0)" href="#" id="moderado_name"><b>RANGO INFERIOR</b></a>
                <a class="nav-item nav-link disabled" style="background:rgb(0, 255, 81)" href='#' id="medio_name"><b>&le;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nº FALLAS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&le;</b></a>
                <a class="nav-item nav-link disabled" style="background:rgb(140, 255, 0)" href="#" id="alto_name"><b>RANGO SUPERIOR</b></a>
                <a class="nav-item nav-link disabled" href="#"><b></b></a>
            </nav>
            <br>
            <div class="row mb-3">
              <div class="col-sm-6 py-2 wow fadeInLeft">
                <label >Descripción</label>
                {{form.descripcion}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInRight">
                <label >Valor</label>
                {{form.valor}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInRight">
                <label >Rango Inferior</label>
                {{form.rango_menor}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInRight">
                <label >Rango Superior</label>
                {{form.rango_mayor}}
              </div>

            </div>
            <nav class="nav nav-pills nav-justified"> 
              <button type="submit" class="btn btn-primary wow zoomIn">Registrar</button>
              <a class="nav-item nav-link disabled" href="#"></a>          
              <a class="nav-item nav-link disabled" href='#'></a>
              <a class="nav-item nav-link disabled" href='#'></a>
              <a class="nav-item nav-link " href='{% url "criticidad_conf" %}'><img src="{% static 'iconos/atras.png' %}" title="Atrás"></a> 
            </nav>
          </form>
        </div>
    </div>
</form>
{% endblock%}