{% extends 'base.html' %}

{% block content%}
<div class="page-section">
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <h3 class="heading-section">¿Desea eliminar el registro de {{object.activo.nombre}}({{object.activo.codigo}})?</h3>
            <button type="submit"  class="btn btn-primary wow zoomIn">Sí, eliminar.</button>
            <a href='{% url "criticidad_muestra_CPr" %}'>Cancelar</a>   
        </form>
    </div>
</div>



{% endblock%}