{% extends 'base.html' %}
{% load static %} 
{% block title%}
<head>
	<title>INTACT-TIPOS DE EQUIPO</title>
</head>
{% endblock%}
{% block content%}
{% if tipos %}
<section class="ftco-section">
    <div class="container">
        <br>
        <nav class="nav nav-pills nav-justified"> 
            <a class="nav-item nav-link" href='{% url "listado_plantas" %}'>Plantas Principales</a>
            <a class="nav-item nav-link" href='{% url "listado_plantas_Sec" %}'>Plantas Secundarias</a>
            <a class="nav-item nav-link" href='{% url "listado_sistemas" %}'>Sistemas</a>
            <a class="nav-item nav-link" href='{% url "listado_subsistemas" %}'>Sub-Sistema</a> 
            <a class="nav-item nav-link" href='{% url "registro_muestra_Pr" %}'>Equipos Principales</a>    
            <a class="nav-item nav-link" href='{% url "registro_muestra" %}'>Equipos Secundarios</a>  
        </nav>
        <nav class="nav nav-pills nav-justified"> 
            <a class="nav-item nav-link disabled"></a>
            <a class="nav-item nav-link disabled"></a>
            <a class="nav-item nav-link active" href='{% url "listado_tiposEquipos" %}'>Tipos de Equipos</a> 
            <a class="nav-item nav-link disabled"></a>    
            <a class="nav-item nav-link disabled"></a>  
        </nav>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <br>
                <h2 class="heading-section">TIPOS DE EQUIPO</h2>
            </div>
        </div>
        <nav class="nav nav-pills nav-justified"> 
            <form method="get">
                <div id="custom-search-input">
                    <div class="input-group input-navbar">
                        <input type="text" class="form-control" placeholder="Buscar.." name="buscar" value="{{ request.GET.buscar }}">
                        <span class="input-group-text" >
                            <button type="submit" class="boton btn-success wow zoomIn">Buscar</button>       
                        </span>
                    </div>
                </div>
            </form>
            <a class="nav-item nav-link disabled" ></a>          
            <a class="nav-item nav-link disabled" ></a>
            <a class="nav-item nav-link disabled" ></a>
            <a class="nav-item nav-link disabled" ></a>
        </nav>
        <br> 
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                            <th><center>NOMBRE</center></th>
                            {% if user.is_authenticated %}
                            <th><center>ACCIONES</center></th>
                            {% endif %}
                        </tr>
                      </thead>
                      <tbody>
                        {% for tipo in tipos %}
                        <tr>
                            <td><center>{{tipo.nombre}}</center></td>

                            {% if user.is_authenticated %}

                            <td>
                            <center><a href="{% url 'generar_reporte_tipos'%}?lang={{tipo.id}}" target="_blank" rel="noopener noreferrer"><img src="{% static 'iconos/reporte.png' %}" title="VISUALIZAR REPORTE PDF"></a></center>    
                            </td>
    
                        {% endif %}
                        </tr>
                        {% endfor %}
                    {% else %}

                    <br>
                    <section class="ftco-section">
                    <div class="container">
                        <br>
                        <nav class="nav nav-pills nav-justified"> 
                            <a class="nav-item nav-link" href='{% url "listado_plantas" %}'>Plantas Principales</a>
                            <a class="nav-item nav-link" href='{% url "listado_plantas_Sec" %}'>Plantas Secundarias</a>
                            <a class="nav-item nav-link" href='{% url "listado_sistemas" %}'>Sistemas</a>
                            <a class="nav-item nav-link" href='{% url "listado_subsistemas" %}'>Sub-Sistema</a> 
                            <a class="nav-item nav-link" href='{% url "registro_muestra_Pr" %}'>Equipos Principales</a>    
                            <a class="nav-item nav-link" href='{% url "registro_muestra" %}'>Equipos Secundarios</a>  
                        </nav>
                        <nav class="nav nav-pills nav-justified"> 
                            <a class="nav-item nav-link disabled"></a>
                            <a class="nav-item nav-link disabled"></a>
                            <a class="nav-item nav-link active" href='{% url "listado_tiposEquipos" %}'>Tipos de Equipos</a> 
                            <a class="nav-item nav-link disabled"></a>    
                            <a class="nav-item nav-link disabled"></a>  
                        </nav>
                        <br>
                    <form method="get">
                        <div id="custom-search-input">
                            <div class="input-group input-navbar">
                                <input type="text" class="form-control" placeholder="Buscar.." name="buscar" value="{{ request.GET.buscar }}">
                                <span class="input-group-text" >
                                    <button type="submit" class="boton btn-success wow zoomIn">Buscar</button>       
                                </span>
                            </div>
                        </div>
                    </form>
                    <br><br><br><br><br>
                        <center><h1>No hay Tipos de Equipo registrados</h1></center>
                        <br><br>
                        <nav class="nav nav-pills nav-justified"> 
                            <a class="nav-item nav-link disabled"></a>
                            <a class="nav-item nav-link" href='{% url "form_tipo_equipo" %}'>Registrar Tipo de Equipo</a>
                            <a class="nav-item nav-link disabled"></a>
                        </nav>
                        <br><br><br><br>
                    {% endif %}
                      </tbody>
                    </table>
                    <nav class="nav nav-pills nav-justified"> 
                        <a class="nav-item nav-link disabled" ></a>
                        <a class="nav-item nav-link disabled" ></a>
                        {% if page_obj.has_previous %}
                        <div class="nav-item nav-link"><a class="btn btn-primary wow zoomIn" href='?page={{ page_obj.previous_page_number }}'>Atrás</a></div>
                        {% endif %}&nbsp;&nbsp;&nbsp;&nbsp;
                        {% if page_obj.has_next %}
                        <div class="nav-item nav-link"><a class="btn btn-primary wow zoomIn" href='?page={{ page_obj.next_page_number }}'>Siguiente</a></div>
                        {% endif %}
                        <a class="nav-item nav-link disabled" ></a>
                        <a class="nav-item nav-link disabled" ></a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock%}

{% block javascript %}

{% endblock %}