{% extends 'base.html' %}
{% block title%}
<head>
	<title>INTACT-LOGIN</title>
</head>
{% endblock%}

{% block content %}

<div class="page-section">
    <div class="container">
      <h1 class="text-center wow fadeInUp">LOGIN</h1>
      <form class="contact-form mt-5" action="" method="post">
        {% csrf_token %}
        <div class="row mb-3">
          <div class="col-sm-6 py-2 wow fadeInLeft">
          <center> <label >Usuario</label><center>
          <center>{{form.username}}</center>
          </div>
          <div class="col-sm-6 py-2 wow fadeInRight">
          <center><label >Contraseña</label></center>
          <center>{{form.password}}</center>
          </div>
        </div>
        <center><button type="submit" class="btn btn-primary wow zoomIn">Ingresar</button></center>
      </form>
    </div>
</div>

{% endblock %}

{% block javascript %}
{% endblock %}