{% extends 'base.html' %}
{% load static %}
{% block title%}
<head>
	<title>INTACT-REGISTRO-EQUIPO</title>
</head>
{% endblock%}
{% block content%}
    <div class="page-section">
        <div class="container">
          <h1 class="text-center wow fadeInUp">Registro de Equipos Secundarios</h1>
          <form class="contact-form mt-5" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mb-3">
              <div class="col-sm-6 py-2 wow fadeInLeft">
                <label >Planta Principal</label>
                {{form.planta}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInRight">
                <label >Planta Secundaria</label>
                {{form.planta_secundaria}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInLeft">
                <label >Sistema</label>
                {{form.sistema}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInRight">
                <label >Sub-Sistema</label>
                {{form.subsistema}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInLeft">
                <label>Equipo Principal</label>
                {{form.equipo_principal}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInRight">
                <label>Código / TAG</label>
                {{form.codigo}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInLeft">
                <label >Nombre del Equipo</label>
                {{form.nombre}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInRight">
                <label >Marca</label>
                {{form.marca}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInLeft">
                <label >Modelo</label>
                {{form.modelo}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInRight">
                <label >Serie</label>
                {{form.serie}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInLeft">
                <label >Tipo de Equipo</label>
                {{form.tipo}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInRight">
                <label >Código de Activo</label>
                {{form.codigo_de_activo}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInLeft">
                <label >Fecha de Instalación</label>
                {{form.año}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInRight">
                <label >Capacidad de Diseño/Operativa</label>
                {{form.capacidad}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInLeft">
                <label >Potencia</label>
                {{form.potencia}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInRight">
                <label >Presión descarga</label>
                {{form.presion}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInLeft">
                <label >Producto</label>
                {{form.producto}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInRight">
                <label >Temperatura de Entrada</label>
                {{form.temperatura_e}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInRight">
                <label >Temperatura de Salida</label>
                {{form.temperatura_s}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInLeft">
                <label >Voltaje</label>
                {{form.voltaje}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInRight">
                <label >Nro. de Fases</label>
                {{form.fases}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInLeft">
                <label>Datasheet</label>
                {{form.datasheet}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInRight">
                <label>Fecha de último mantenimiento integral</label>
                {{form.fu_mantenimiento}}
              </div>
              <div class="col-sm-6 py-2 wow fadeInLeft">
                <label >Estado Operativo</label>
                {{form.estado}}
              </div>
              <div class="col-12 py-2 wow fadeInUp">
                <label >Observaciones</label>
                {{form.observaciones}}
              </div>

            </div>
            <nav class="nav nav-pills nav-justified"> 
              <button type="submit" class="btn btn-primary wow zoomIn">Registrar</button>
              <a class="nav-item nav-link disabled" href="#"></a>          
              <a class="nav-item nav-link disabled" href='#'></a>
              <a class="nav-item nav-link disabled" href='#'></a>
              <a class="nav-item nav-link " href='{% url "registro_muestra" %}'><img src="{% static 'iconos/atras.png' %}" title="Atrás"></a> 
            </nav>      
          </form>
        </div>
    </div>

{% endblock%}
