<style>
    body {
    background: rgb(204,204,204); 
  }
  page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
  page[size="A4"] {  
    width: 27cm;
    height: auto; 
  }
  page[size="A4"][layout="landscape"] {
    width: 29.7cm;
    height: 21cm;  
  }
  @media print {
      body, page {
        box-shadow: 0;
        size: 210mm 297mm;
        margin: 5mm 5mm 5mm 5mm;
        orphans: 0;
        widows: 0;
      }
      .formulario {
         zoom:80%;
      }
      .formulario:nth-child(even) { 
          page-break-inside: avoid;
          page-break-after: always;
      }
    }
  </style>
  <page size="A4">
    {% extends 'base.html' %}
    {% load static %}
    {% block title%}
    <head>
      <title>REPORTE-EQUIPO SECUNDARIO</title>
    </head>
    {% endblock%}
    {% block header %}
    {% endblock%}
    {% block content%}
    <div id="area_de_impresion">
    <br>
    <section class="ftco-section">
        <div class="container">
          <div class="formulario">
            <table border="1" style="width: 100%;height: 200px;">
              <tr style="height: 100%;width: max-content;">
                <th style="background-color: white;color: white;width: 35%;"><center><img id="logo" src="" style="height: 100%;width:100%"></center></th>               
                <th style="background-color: rgb(255, 255, 255);color: black;width: 65%"><center><h1 style=" font-weight: bold">REPORTE DE ACTIVOS</h1></center></th>               
              </tr>
            </table>
                    <br>
                    <table border="1" style="width: 100%">
                      <TR style="height: 20px;width: max-content">
                        <TH style="width: 20%;">FECHA: </TH>
                        <TD align="CENTER" id='fecha_actual' style="width: 80%;"></TD>
                    </TR>
                    <TR style="height: 20px;width: max-content">
                      <TH style="width: 20%;">EMPRESA: </TH>
                      <TD align="CENTER" id="empresa" style="width: 80%;"></TD>
                  </TR>
                  <TR style="height: 20px;width: max-content">
                    <TH style="width: 20%;">DIRECCIÓN: </TH>
                    <TD align="CENTER" id="direccion" style="width: 80%;"></TD>
                  </TR>
                  <TR style="height: 20px;width: max-content">
                    <TH style="width: 20%;">E-MAIL: </TH>
                    <TD align="CENTER" id="email" style="width: 80%;"></TD>
                </TR>
                    </table>
                    <br>
                    <table style="width: 100%">
                      <tr style="height: max-content;width: max-content;">
                        <th><h1 style="color: red;font-weight: bold;font-size:30px;"><center id="titulo">{% for confpr in confspr %}{{confpr.nombre}}{% endfor %}</center></h1></th>               
                      </tr>
                    </table>
                    <br>
                    <table style="width: 100%">
                      <tr style="height: max-content;width: max-content;">
                          <th style="background-color:rgb(255, 255, 255);width: 15%;">
                            <h3 style="background-color: rgb(255, 255, 255);color: black;height: auto;font-weight: bold"><center>CARACTERÍSTICAS</center></h3>          
                          </th>               
                      </tr>
                    </table>
                    <br>
                    <table border="1" style="width: 100%">
                      {% for confpr in confspr %}
                      <TR align="LEFT" style="height: 20px;width:70%"><TH>TAG</TH>
                          <TD align="CENTER" id="up" style="height: 20px;width:30%">{{confpr.codigo}}</TD></TR>
                      <TR align="LEFT" style="height: 20px"><TH>PLANTA PRINCIPAL</TH>
                          <TD align="CENTER" id="pp">{{confpr.planta.nombre}}</TD></TR>
                      <TR align="LEFT" style="height: 20px"><TH>PLANTA SECUNDARIA</TH>
                          <TD align="CENTER" id="ps">{{confpr.planta_secundaria.nombre}}</TD></TR>
                      <TR align="LEFT" style="height: 20px"><TH>SISTEMA</TH>
                          <TD align="CENTER" id="sis">{{confpr.sistema.nombre}}</TD></TR>
                      <TR align="LEFT" style="height: 20px"><TH>SUBSISTEMA</TH>
                          <TD align="CENTER" id='subsis'>{{confpr.subsistema.nombre}}</TD></TR>
                      <TR align="LEFT" style="height: 20px"><TH>EQUIPO PRINCIPAL</TH>
                          <TD align="CENTER" id='subsis'>{{confpr.equipo_principal}}</TD></TR>
                      <TR align="LEFT" style="height: 20px"><TH>TIPO DE EQUIPO</TH>
                            <TD align="CENTER" id='tipo'>{{confpr.tipo}}</TD></TR>
                      <TR align="LEFT" style="height: 20px"><TH>MARCA</TH>
                          <TD align="CENTER" id='marca'>{{confpr.marca}}</TD></TR>
                      <TR align="LEFT" style="height: 20px"><TH>MODELO</TH>
                          <TD align="CENTER" id='modelo'>{{confpr.modelo}}</TD></TR>
                      <TR align="LEFT" style="height: 20px"><TH>SERIE</TH>
                          <TD align="CENTER" id='serie'>{{confpr.serie}}</TD></TR>
                      <TR align="LEFT" style="height: 20px"><TH>CAPACIDAD DE DISEÑO/OPERATIVA</TH>
                          <TD align="CENTER" id='cdo'>{{confpr.capacidad}}</TD></TR>
                      <TR align="LEFT" style="height: 20px"><TH>FECHA DE INSTALACIÓN</TH>
                          <TD align="CENTER" id='fins'>{{confpr.año}}</TD></TR>
                      <TR align="LEFT" style="height: 20px"><TH>FECHA DE ÚLTIMO MANTENIMIENTO INTEGRAL</TH>
                          <TD align="CENTER" id='fumi'>{{confpr.fu_mantenimiento}}</TD></TR>
                      <TR align="LEFT" style="height: 20px"><TH>ESTADO OPERATIVO</TH>
                          <TD align="CENTER" id='estop'>
                            {% if confpr.estado == 'O' %}
                            OPERATIVO
                            {% else %}
                            FUERA DE SERVICIO
                            {% endif %}
                          </TD>
                          </TR>
                    {% endfor %}
                    </table>
                    <br>
                  </div>
                  <br>
                    <table style="width: 100%">
                      <center><a id="btn_print"><img src="{% static 'iconos/reporte3.png' %}" title='REPORTE PDF'></a></center>
                    </table>
                    <br>
      </div>
    </section>
    </div>
    {% endblock%}
    
    {% block javascript %}
    
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script language="javascript">

    // INFORMACIÓN DE LA FECHA
    var hoy;
    (function($) {
      tiempoTranscurrido = Date.now();
      hoy = new Date(tiempoTranscurrido);
      document.getElementById('fecha_actual').textContent= hoy.toLocaleDateString(); 
        //HACER PDF
        // Escuchamos el click del botón
      $(document).ready(function($) 
      { 
        function imprim1(){
          window.print();
        }
        $("#btn_print").on('click', function(event) 
        {
          imprim1();       
        });
        
     
        });

                //INFORMACIÓN DEL ENCABEZADO
var form = $(this).closest("form");

$.ajax({
            url: '{% url "vista_listado_configReport" %}',
            data: form.serialize(),
            dataType: 'json',
            success: function (data) {
                 array2 =$.parseJSON(data.listado);

                 document.getElementById('empresa').textContent=array2[0].fields.empresa;
                 document.getElementById('direccion').textContent=array2[0].fields.direccion;
                 document.getElementById('email').textContent=array2[0].fields.email;
                 $("#logo").attr("src","{{ MEDIA_URL }}"+array2[0].fields.logo);

                }})
     
         })(jQuery);
    
    </script>
    {% endblock %}
    {% block footer %}
    {% endblock %}
  
  
  
  
  </page>